{% extends "plantillas/base.html" %}
{% load static %}
{% block title %}Registro{% endblock %}

{% block content %}
<div class="container mt-4 mb-4">
    <div class="card mx-auto col-lg-6 col-md-12">
        <div class="card-body">
            <h2 class="text-center mb-4" style="font-size: x-large; line-height: 1.2;">Registro</h2>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="mb-3">
                        {% if field.name not in residente_fields and field.name not in cuerpo_admin_fields %}
                            {% if field.field.widget.input_type == 'checkbox' %}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="{{ field.html_name }}" id="{{ field.id_for_label }}">
                                    <label class="form-check-label" for="{{ field.id_for_label }}">
                                        {{ field.label }}
                                    </label>
                                </div>
                            {% else %}
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                <input type="{{ field.field.widget.input_type }}" class="form-control" name="{{ field.html_name }}" {% if field.field.required %}required{% endif %}>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endfor %}
                <div id="campos_residente" style="display: none;">
                    {% for field in form %}
                        {% if field.name in residente_fields %}
                            <div class="mb-3">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                <input type="{{ field.field.widget.input_type }}" class="form-control" name="{{ field.html_name }}" {% if field.field.required %}required{% endif %}>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div id="campos_cuerpo_admin" style="display: none;">
                    {% for field in form %}
                        {% if field.name in cuerpo_admin_fields %}
                            <div class="mb-3">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                <input type="{{ field.field.widget.input_type }}" class="form-control" name="{{ field.html_name }}" {% if field.field.required %}required{% endif %}>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary">Registrar</button>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Obtén los checkboxes y los divs de campos
        var esResidenteCheckbox = document.querySelector('input[name="es_residente"]');
        var esCuerpoAdminCheckbox = document.querySelector('input[name="es_cuerpo_admin"]');
        var camposResidenteDiv = document.getElementById('campos_residente');
        var camposCuerpoAdminDiv = document.getElementById('campos_cuerpo_admin');

        // Inicialmente oculta los campos
        camposResidenteDiv.style.display = 'none';
        camposCuerpoAdminDiv.style.display = 'none';

        // Agrega un evento de cambio a los checkboxes
        esResidenteCheckbox.addEventListener('change', function () {
            // Si el checkbox está marcado, muestra los campos de residentes; de lo contrario, ocúltalos
            camposResidenteDiv.style.display = esResidenteCheckbox.checked ? 'block' : 'none';

            // Si el checkbox está marcado, desmarca el otro checkbox
            if (esResidenteCheckbox.checked) {
                esCuerpoAdminCheckbox.checked = false;
                camposCuerpoAdminDiv.style.display = 'none';
            }
        });

        esCuerpoAdminCheckbox.addEventListener('change', function () {
            // Si el checkbox está marcado, muestra los campos del cuerpo administrativo; de lo contrario, ocúltalos
            camposCuerpoAdminDiv.style.display = esCuerpoAdminCheckbox.checked ? 'block' : 'none';

            // Si el checkbox está marcado, desmarca el otro checkbox
            if (esCuerpoAdminCheckbox.checked) {
                esResidenteCheckbox.checked = false;
                camposResidenteDiv.style.display = 'none';
            }
        });
    });
</script>
{% endblock %}