/* estilos de la cabecera */

header {
    background-color: #3D5DAA;
    padding: 12px;
}

header h1 {
    color: #fff;
    font-family: nimbus-sans, sans-serif;
    font-size: 2.5vw;
    font-weight: 900;
    margin: 0;
}

.logodm img {
    max-width: 200px;
    min-width: 90px;
    width: 15vw;
}

main h2 {
    color: #3D5DAA;
    font-size: 1.5em;
    font-family: "source-sans-3-variable", sans-serif;
    font-weight: bold;
}

p {
    font-family: "source-sans-3", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
}

/* .accordion-button::after {
    background-image: none !important;
    color: white;
    content: '▼';
}

.accordion-button.collapsed::after {
    content: '►';
}

.accordion-header .boton-personalizado {
    background-color: #5989F7;
    border-radius: 6px;
    color: #ffffff;
    font-family: nimbus-sans, sans-serif;
    font-size: 1.5vw;
    font-weight: 600;
    padding: 10px;
    text-decoration: none;
} */

.card .card-body .card-title.titulo-personalizado {
    color: #5989F7;
    font-family: nimbus-sans, sans-serif;
    font-weight: 700;
}

.card .card-body ul {
    color: #3D5DAA;
    font-family: mr-eaves-sans, sans-serif;
    font-size: medium;
    list-style: none;
    padding: 5px;
    padding-left: 25px;
}

.elSlogan {
    font-family: "korolev", sans-serif;
    font-style: normal;
    font-weight: 900;
}

.fondo-personalizado {
    background-image: url('/static/sedejunin.jpg');
    background-position: center 54%;
    background-size: cover;
    height: 155px;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 3.5vw;
        margin-top: 5px;
        text-align: center;
    }

    .logodm img {
        width: 80px;
    }
}

@media (min-width: 769px) {
    header h1 {
        margin-left: 10px;
        text-align: left;
    }
}

/* estilos de sedes.html */

.titulosede {
    color: #3D5DAA;
    font-family: nimbus-sans, sans-serif;
    font-style: bold;
    font-weight: 700;
}

.elformulario {
    font-family: mr-eaves-sans, sans-serif;
    padding: 12px;
}

.lassedes .elformulario {
    font-family: mr-eaves-sans, sans-serif;
    font-size: 1.5vw;
}

/* fin de los estilos de sedes.html */


