{% extends "plantillas/base.html" %}
{% load static %}
{% block title %}Evaluación Residentes{% endblock %}
{% block content %}
<form>
    <div class="dropup">
        <button class="btn btn-secondary dropdown-toggle mt-3" type="button" id="grupo" data-bs-toggle="dropdown" aria-expanded="false">
            Seleccione
        </button>
        <ul class="dropdown-menu" aria-labelledby="grupo">
            <li><a class="dropdown-item" href="#">Todos</a></li>
            <li><a class="dropdown-item" href="#">R1</a></li>
            <li><a class="dropdown-item" href="#">R2</a></li>
            <li><a class="dropdown-item" href="#">R3</a></li>
            <li><a class="dropdown-item" href="#">R4</a></li>
        </ul>
    </div>
    <!-- Desplegable para seleccionar el nombre del residente -->
    <div class="form-group mt-3">
        <label><p class="mb-0">Nombre del Residente:</p></label>
        <select class="form-select">
            <!-- Aquí se deben agregar las opciones con los nombres de los residentes -->
        </select>
    </div>
    <div class="form-group mt-3">
        <label for="positivos"><p class="mb-0">Aspectos Positivos:</p></label>
        <textarea class="form-control" id="positivos" rows="3"></textarea>
    </div>
    <div class="form-group mt-3">
        <label for="negativos"><p class="mb-0">Aspectos Negativos:</p></label>
        <textarea class="form-control" id="negativos" rows="3"></textarea>
    </div>
    <div class="form-group mt-3" style="display: flex; justify-content: space-between; align-items: center;">
        <div style="display: flex; align-items: center;">
            <label for="nota" style="margin-right: 10px;"><p class="mb-0">Nota:</p></label>
            <input type="number" class="form-control" id="nota" min="0" max="10" style="width: 65px;" required>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $('.dropdown-item').click(function(){
        var selectedGroup = $(this).text();
        $.ajax({
            url: '/get_residentes_por_grupo/',  // Reemplaza esto con la URL de tu endpoint
            data: {
              'grupo': selectedGroup
            },
            success: function(data) {
                var select = $('.form-select');
                select.empty();
                $.each(data, function(index, value) {
                    select.append('<option value="' + value.id + '">' + value.nombre + '</option>');
                });
            }
        });
    });
});
</script>
{% endblock %}

