{% extends "plantillas/base.html" %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block content %}
<div id="barraSubHeader" class="container-fluid" style="background-color: #F2F2F2;">
    <div class="row">
        <div class="col-sm-4 mt-sm-0 mt-2 text-sm-start text-center d-flex align-items-center">
            {% if user.is_authenticated %}
            <p class="col m-0 p-2">
                Bienvenido, <strong>{{ user.first_name }}</strong>!<br><a href="{% url 'residentesdm:perfil' %}"
                    style="font-size: small;">Mi Perfil</a>
            </p>
            {% endif %}
        </div>
        <div class="col-sm d-flex align-items-center justify-content-sm-end justify-content-center">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'residentesdm:inicio' %}">Inicio</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'residentesdm:logout' %}">Cerrar sesión</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'residentesdm:login' %}">Iniciar sesión</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

<main id="main-content" class="container-lg mt-3">
    <div class="container-xxl" style="text-align: justify;">
        <div class="row">
            <div class="col-lg-6 mt-lg-0 mt-3 d-flex flex-column justify-content-start">
                <div>
                    <h2 class="text-center">¡Bienvenido!</h2>
                    <p> Explora nuestra página de la residencia médica en diagnóstico por imágenes de Diagnóstico
                        Médico. Aquí hallarás información sobre nuestra institución y recursos útiles tanto para
                        nuestros residentes como para el público interesado.</p>
                </div>
                <div class="fondo-personalizado">
                </div>
                <div class="elSlogan mt-3">
                    <p class="mb-0 text-end"
                        style="font-weight: bold; font-size: 1.2em; font-family: korolev; color:#3D5EA8; line-height: 1em;">
                        No solo formamos especialistas</p>
                    <p class="mb-0 text-end"
                        style="font-weight: bold; font-family: korolev; font-size: 1em; color: #66C2C4; line-height: 1em;">
                        Creamos profesionales en</p>
                    <p class="mb-0 text-end"
                        style="font-family: korolev; font-size: 0.8em; color: #66C2C4; line-height: 1.2;">
                        Diagnóstico
                        por Imágenes</p>
                </div>
            </div>
            <div class="col mt-lg-0 mt-3 d-flex flex-column justify-content-center">
                <h2 class="text-start" style="font-size: larger; color: black;">Acerca de nosotros</h2>
                <p id="about-us">Con varios años de experiencia, nos destacamos en la formación de especialistas en
                    diagnóstico por imágenes. Hemos sido pioneros en la educación médica, forjando la excelencia en la
                    formación de médicos reconocidos internacionalmente.</p>
                <p>Contamos con sedes equipadas con tecnología de vanguardia y profesionales altamente calificados.
                    Nuestra expansión nos ha permitido llegar a más médicos, ofreciéndoles una formación de calidad.</p>
                <p>En cada sede, proporcionamos a nuestros residentes una experiencia de aprendizaje desafiante, con el
                    objetivo de prepararlos para liderar en sus campos y mejorar la salud de sus comunidades.</p>
                <p>Si buscas unirte a nosotros, explora nuestras ofertas para descubrir cómo podemos ayudarte a alcanzar
                    tus metas profesionales. Estamos comprometidos a formar la próxima generación de especialistas y
                    esperamos contribuir a tu formación.</p>
            </div>
        </div>
    </div>
    <div id="sedes" class="container-fluid" style="text-align: justify;">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-start" style="font-size: larger; color: black;">Nuestras sedes</h2>
                <p>
                    Contamos con varios centros de formación, equipados con tecnología de vanguardia y dirigidos por
                    profesionales altamente cualificados. En cada una de las sedes, los residentes cuentan con un
                    entorno
                    enriquecedor que potencia su desarrollo como especialistas en diagnóstico por imágenes. <strong>
                        ¡Descúbrelo!</strong>
                </p>
            </div>
            <div class="container col-md-6 text-center">
                <ul class="list-unstyled row row-cols-1 row-cols-md-2 gy-3">
                    <li class="col">
                        <p>Sede Central <br> Dirección: Juín 1023</p>
                    </li>
                    <li class="col">
                        <p>Sede Belgrano <br> Dirección: Av. Cabildo 488</p>
                    </li>
                    <li class="col">
                        <p>Sede - Trinidad Palermo <br> Dirección: Av. Cerviño 1425</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>
<script>
    // Obtén el año actu
    var currentYear = new Date().getFullYear();

    // Año de fundación
    var foundationYear = 1979;

    // Calcula los años de existencia
    var years = currentYear - foundationYear;

    // Obtén el párrafo por su ID
    var paragraph = document.getElementById('about-us');

    // Actualiza el texto del párrafo
    paragraph.textContent = `Con más de ${years} años de experiencia, nos destacamos en la formación de especialistas en diagnóstico por imágenes. Hemos sido pioneros en la educación médica, forjando la excelencia en la formación de médicos reconocidos internacionalmente.`;
</script>

{% endblock %}