{% extends "plantillas/base.html" %}
{% load static %}
{% block title %}Preinformes{% endblock %}
{% block content %}

{% if user.is_authenticated %}

<div class="container-fluid mt-3">
    <form method="post">
        {% csrf_token %}
        <p class="alert alert-info" role="contentinfo">El preinforme se guardará en el perfil correspondiente a <strong> {{ request.user.first_name }} {{ request.user.last_name }}</strong>.</p>
        <div class="row">
            <div class="col-md-6 mb-3">
                {{ form.nombre_paciente }}
            </div>
            <div class="col-md-6 mb-3">
                {{ form.apellido_paciente }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                {{ form.dni_paciente }}
            </div>
            <div class="col-md-6 mb-3">
                {{ form.fecha_estudio }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-3">
                {{ form.cuerpo_preinforme }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>

{% else %}

<p>Para acceder a esta actividad debes ser residente registrado en nuestra institución</p>

{% endif %}
{% endblock %}

