{% extends "plantillas/base.html" %}
{% load static %}
{% block title %}Residentes{% endblock %}
{% block content %}

<div class="container-fluid mt-3">
<h2 class="text-start">Legajo de residentes</h2>

<div class="row">
    <div class="col-sm">
        <div class="mt-3">
            <h3>Primer Año</h3>
            {% for residente in residentes_primer_año %}
                {{ residente.nombre.title }} {{ residente.apellido.title }}<br>
            {% endfor %}
        </div>
    </div>
    <div class="col-sm">
        <div class="mt-3">
            <h3>Segundo Año</h3>
            {% for residente in residentes_segundo_año %}
                {{ residente.nombre.title }} {{ residente.apellido.title }}<br>
            {% endfor %}
        </div>
    </div>
    <div class="col-sm">
        <div class="mt-3">
            <h3>Tercer Año</h3>
            {% for residente in residentes_tercer_año %}
                {{ residente.nombre.title }} {{ residente.apellido.title }}<br>
            {% endfor %}
        </div>
    </div>
    <div class="col-sm">
        <div class="mt-3">
            <h3>Cuarto Año</h3>
            {% for residente in residentes_cuarto_año %}
                {{ residente.nombre.title }} {{ residente.apellido.title }}<br>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}