{% extends "plantillas/base.html" %}
{% load static %}
{% block title %}Sedes{% endblock %}
{% block content %}

<main class="container-fluid mt-3">
    <h4 class="titulosede">Sedes<h4>
        <div class="table-responsive-lg">
            <table class="lassedes table-bordered table">
                <thead>
                    <tr>
                        <th class="fs-6">Nombre</th>
                        <th class="fs-6">Dirección</th>
                        <th class="fs-6">Teléfono</th>
                        <th class="fs-6">Referente</th>
                        <th class="fs-6">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sede in sedes %}
                    <tr>
                        <td class="fs-6" data-field="nombre">{{ sede.nombre }}</td>
                        <td class="fs-6" data-field="direccion">{{ sede.direccion }}</td>
                        <td class="fs-6" data-field="telefono">{{ sede.telefono }}</td>
                        <td class="fs-6" data-field="referente">{{ sede.referente }}</td>
                        <!-- <td>
                            <button class="btn btn-primary btn-edit" data-id="{{ sede.id }}">Editar</button>
                            <button class="btn btn-danger btn-delete" data-id="{{ sede.id }}">Eliminar</button>
                        </td> -->
                        <!-- debo darle funcionalidad a los botones -->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    <a class="btn btn-primary mt-0" href="{% url 'residentesdm:agregarsede' %}">Agregar sede</a>
</main>

{% endblock %}
    
